<div>
    <h1>Hola {{nombre}}</h1>
    <p>{{mensaje}}</p>
  </div>
<div>
    <label>Nombre:
      <input [(ngModel)]="nombre" placeholder="nombre">
    </label>
</div>

<app-name-editor></app-name-editor>