<mat-tab-group>
  <mat-tab label="Inicio"> <app-inicio></app-inicio> </mat-tab>
  <mat-tab label="Saludo"> <app-saludo></app-saludo> </mat-tab>
  <mat-tab label="Peliculas"> Content 3  <app-inicio></app-inicio> </mat-tab>
</mat-tab-group>