<h1>Template Name Edito - Start</h1>
<label>
  Name:
  <input type="text" [formControl]="name">
</label>
<p>
  Value: {{ name.value }}
</p>
<p>
  <button (click)="updateName()">Update Name</button>
</p>
<h2>Template Name Edito - Start</h2>